

/* html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.pimg1 {
  background-image: url(image1.jpg);
  min-height: 100%;
}
.pimg2 {
  background-image: url(image2.jpg);
  min-height: 400px;
}
.pimg3 {
  background-image: url(image3.jpg);
  min-height: 400px;
}
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.textBg {
  background: #313534;
  color: #fff;
  padding: 20px;
}

.section {
  padding: 50px 80px;
  text-align: center;
}
.section-light {
  background-color: #f4f4f4;
  color: #666;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}
 */

html,body{
  font-size: 16px;
  padding: 0%;
  margin: 0%;
  height: 100%;
}
.s1{
  background-image: url(image1.jpg);
  min-height: 100%;
}
.s2{
  background-image: url(image2.jpg);
  min-height: 400px;
}
.s3{
  background-image: url(image3.jpg);
  min-height:400px;

}
.s1,.s2,.s3{
  position:relative;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;

}

.section2,.section1,.section3{
  padding: 5px 8px;
  position: relative;
  text-align: center;
  color: black;
}


.img1,.img2,.img3{
  position:absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 100%;
  font-size: 27px;


  border-radius: 5px;
  background-color: black transparent;
  box-shadow: 2px 2px 3px solid gray;
  

  


}

.text1{
  color: white;
  background-color: transparent black;
  padding: 2px 3px;
  


}
